In [403]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [404]:
df_train = pd.read_csv("train.csv")

In [405]:
df_test = pd.read_csv("test.csv")

In [406]:
df_train.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [407]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [408]:
df_train = df_train.drop("id", axis = 1)
df_test = df_test.drop("id", axis = 1)

In [409]:
df_train["Gender"].isna().sum()

np.int64(0)

In [410]:
from sklearn.preprocessing import LabelEncoder

In [411]:
label = LabelEncoder()

In [412]:
df_train["Gender"] = label.fit_transform(df_train["Gender"])
df_test["Gender"] = label.transform(df_test["Gender"])

In [413]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1181295 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1155051 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 183.1+ MB

In [414]:
df_train.isna().sum()

Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [415]:
df_train["Age"] = df_train["Age"].fillna(df_train["Age"].median())

In [416]:
df_test["Age"] = df_test["Age"].fillna(df_test["Age"].median())

In [417]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1155051 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 183.1+ MB

In [418]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [419]:
df_train["Annual Income"]

0           10049.0
1           31678.0
2           25602.0
3          141855.0
4           39651.0
             ...
1199995     27316.0
1199996     35786.0
1199997     51884.0
1199998         NaN
1199999         NaN
Name: Annual Income, Length: 1200000, dtype: float64

In [420]:
df_train["Annual Income"] = df_train["Annual Income"].fillna(df_train["Annual Income"].median())

In [421]:
df_test["Annual Income"] = df_test["Annual Income"].fillna(df_test["Annual Income"].median())

In [422]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 183.1+ MB

In [423]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [424]:
status_counts = {}

for status in df_train['Marital Status']:
    if pd.isna(status):
        status = 'Unknown'
    
    if status not in status_counts:
        status_counts[status] = 1
    else:
        status_counts[status] += 1

most_frequent_status = max(status_counts, key=status_counts.get)

df_train['Marital Status'] = df_train['Marital Status'].apply(lambda x: most_frequent_status if pd.isna(x) else x)

In [425]:
status_counts_test = {}

for status in df_test['Marital Status']:
    if pd.isna(status):
        status = 'Unknown'
    
    if status not in status_counts_test:
        status_counts_test[status] = 1
    else:
        status_counts_test[status] += 1

most_frequent_status_test = max(status_counts_test, key=status_counts_test.get)

df_test['Marital Status'] = df_test['Marital Status'].apply(lambda x: most_frequent_status_test if pd.isna(x) else x)

In [426]:
df_train["Marital Status"].isna().sum()

np.int64(0)

In [427]:
df_test["Marital Status"].isna().sum()

np.int64(0)

In [428]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 183.1+ MB

In [429]:
df_train["Marital Status"] = label.fit_transform(df_train["Marital Status"])
df_test["Marital Status"] = label.transform(df_test["Marital Status"])

In [430]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(2), object(9)
memory usage: 183.1+ MB

In [431]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status               0
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [432]:
df_train["Number of Dependents"].isna().sum()

np.int64(109672)

In [433]:
df_train["Number of Dependents"] = df_train["Number of Dependents"].fillna(df_train["Number of Dependents"].median())

In [434]:
df_test["Number of Dependents"] = df_test["Number of Dependents"].fillna(df_test["Number of Dependents"].median())

In [435]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(2), object(9)
memory usage: 183.1+ MB

In [436]:
df_train["Education Level"].isna().sum()

np.int64(0)

In [437]:
df_train["Education Level"] = label.fit_transform(df_train["Education Level"])
df_test["Education Level"] = label.transform(df_test["Education Level"])

In [438]:
df_train["Occupation"].isna().sum()

np.int64(358075)

In [439]:
df_train["Occupation"]

0          Self-Employed
1                    NaN
2          Self-Employed
3                    NaN
4          Self-Employed
               ...
1199995       Unemployed
1199996    Self-Employed
1199997              NaN
1199998              NaN
1199999              NaN
Name: Occupation, Length: 1200000, dtype: object

In [440]:
status_occupation = {}

for status in df_train['Occupation']:
    if pd.isna(status):
        status = 'Unknown'
    
    if status not in status_occupation:
        status_occupation[status] = 1
    else:
        status_occupation[status] += 1

most_frequent_status = max(status_occupation, key=status_occupation.get)

df_train['Occupation'] = df_train['Occupation'].apply(lambda x: most_frequent_status if pd.isna(x) else x)

In [441]:
status_occupation_test = {}

for status in df_train['Occupation']:
    if pd.isna(status):
        status = 'Unknown'
    
    if status not in status_occupation_test:
        status_occupation_test[status] = 1
    else:
        status_occupation_test[status] += 1

most_frequent_status = max(status_occupation_test, key=status_occupation_test.get)

df_test['Occupation'] = df_test['Occupation'].apply(lambda x: most_frequent_status if pd.isna(x) else x)

In [442]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(3), object(8)
memory usage: 183.1+ MB

In [443]:
df_train["Occupation"] = label.fit_transform(df_train["Occupation"])
df_test["Occupation"] = label.transform(df_test["Occupation"])

In [444]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(4), object(7)
memory usage: 183.1+ MB

In [445]:
df_train["Location"].isna().sum()

np.int64(0)

In [446]:
df_train["Location"] = label.fit_transform(df_train["Location"])
df_test["Location"] = label.fit_transform(df_test["Location"])

In [447]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(5), object(6)
memory usage: 183.1+ MB

In [448]:
df_train["Policy Type"].isna().sum()

np.int64(0)

In [449]:
df_train["Policy Type"] = label.fit_transform(df_train["Policy Type"])
df_test["Policy Type"] = label.fit_transform(df_test["Policy Type"])

In [450]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  int64
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(6), object(5)
memory usage: 183.1+ MB

In [451]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status               0
Number of Dependents         0
Education Level              0
Occupation                   0
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [452]:
df_train["Health Score"] = df_train["Health Score"].fillna(df_train["Health Score"].median())
df_test["Health Score"] = df_test["Health Score"].fillna(df_test["Health Score"].median())

In [453]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status               0
Number of Dependents         0
Education Level              0
Occupation                   0
Health Score                 0
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [454]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  int64
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(6), object(5)
memory usage: 183.1+ MB

In [455]:
df_train["Previous Claims"] = df_train["Previous Claims"].fillna(df_train["Previous Claims"].median())
df_test["Previous Claims"] = df_test["Previous Claims"].fillna(df_test["Previous Claims"].median())

In [456]:
df_train.isna().sum()

Age                          0
Gender                       0
Annual Income                0
Marital Status               0
Number of Dependents         0
Education Level              0
Occupation                   0
Health Score                 0
Location                     0
Policy Type                  0
Previous Claims              0
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [457]:
df_train["Credit Score"] = df_train["Credit Score"].fillna(df_train["Credit Score"].median())
df_test["Credit Score"] = df_test["Credit Score"].fillna(df_test["Credit Score"].median())

In [458]:
df_train["Insurance Duration"] = df_train["Insurance Duration"].fillna(df_train["Insurance Duration"].median())
df_test["Insurance Duration"] = df_test["Insurance Duration"].fillna(df_test["Insurance Duration"].median())

In [459]:
df_train.isna().sum()

Age                         0
Gender                      0
Annual Income               0
Marital Status              0
Number of Dependents        0
Education Level             0
Occupation                  0
Health Score                0
Location                    0
Policy Type                 0
Previous Claims             0
Vehicle Age                 6
Credit Score                0
Insurance Duration          0
Policy Start Date           0
Customer Feedback       77824
Smoking Status              0
Exercise Frequency          0
Property Type               0
Premium Amount              0
dtype: int64

In [460]:
df_train["Policy Start Date"] = label.fit_transform(df_train["Policy Start Date"])
df_test["Policy Start Date"] = label.fit_transform(df_test["Policy Start Date"])

In [461]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  int64
 10  Previous Claims       1200000 non-null  float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1200000 non-null  float64
 13  Insurance Duration    1200000 non-null  float64
 14  Policy Start Date     1200000 non-null  int64
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(7), object(4)
memory usage: 183.1+ MB

In [462]:
customer_feedback = {}

for customer in df_train['Customer Feedback']:
    if pd.isna(customer):
        customer = 'Unknown'
    
    if customer not in customer_feedback:
        customer_feedback[customer] = 1
    else:
        customer_feedback[customer] += 1

most_frequent_status = max(customer_feedback, key=customer_feedback.get)

df_train['Customer Feedback'] = df_train['Customer Feedback'].apply(lambda x: most_frequent_status if pd.isna(x) else x)

In [463]:
customer_feedback = {}

for customer in df_test['Customer Feedback']:
    if pd.isna(customer):
        customer = 'Unknown'
    
    if customer not in customer_feedback:
        customer_feedback[customer] = 1
    else:
        customer_feedback[customer] += 1

most_frequent_status = max(customer_feedback, key=customer_feedback.get)

df_test['Customer Feedback'] = df_test['Customer Feedback'].apply(lambda x: most_frequent_status if pd.isna(x) else x)

In [464]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  int64
 10  Previous Claims       1200000 non-null  float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1200000 non-null  float64
 13  Insurance Duration    1200000 non-null  float64
 14  Policy Start Date     1200000 non-null  int64
 15  Customer Feedback     1200000 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(7), object(4)
memory usage: 183.1+ MB

In [465]:
df_train["Customer Feedback"] = label.fit_transform(df_train["Customer Feedback"])
df_test["Customer Feedback"] = label.transform(df_test["Customer Feedback"])

In [466]:
df_train["Smoking Status"] = label.fit_transform(df_train["Smoking Status"])
df_test["Smoking Status"] = label.transform(df_test["Smoking Status"])

In [467]:
df_train["Exercise Frequency"] = label.fit_transform(df_train["Exercise Frequency"])
df_test["Exercise Frequency"] = label.transform(df_test["Exercise Frequency"])

In [468]:
df_train["Property Type"] = label.fit_transform(df_train["Property Type"])
df_test["Property Type"] = label.transform(df_test["Property Type"])

In [469]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  int64
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  int64
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  int64
 6   Occupation            1200000 non-null  int64
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  int64
 9   Policy Type           1200000 non-null  int64
 10  Previous Claims       1200000 non-null  float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1200000 non-null  float64
 13  Insurance Duration    1200000 non-null  float64
 14  Policy Start Date     1200000 non-null  int64
 15  Customer Feedback     1200000 non-null  int64
 16  Smoking Status        1200000 non-null  int64
 17  Exercise Frequency    1200000 non-null  int64
 18  Property Type         1200000 non-null  int64
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(11)
memory usage: 183.1 MB

In [470]:
df_train.isna().sum()

Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             6
Credit Score            0
Insurance Duration      0
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [471]:
df_train.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,0,10049.0,1,1.0,0,1,22.598761,2,2,2.0,17.0,372.0,5.0,145522,2,0,3,2,2869.0
1,39.0,0,31678.0,0,3.0,2,3,15.569731,0,1,1.0,12.0,694.0,2.0,127832,0,1,1,2,1483.0
2,23.0,1,25602.0,0,3.0,1,1,47.177549,1,2,1.0,14.0,595.0,3.0,137880,1,1,3,2,567.0
3,21.0,1,141855.0,1,2.0,0,3,10.938144,0,0,1.0,0.0,367.0,1.0,161517,2,1,0,0,765.0
4,21.0,1,39651.0,2,1.0,0,1,20.376094,0,2,0.0,8.0,598.0,4.0,76621,2,1,3,2,2022.0

In [472]:
df_train["Vehicle Age"] = df_train["Vehicle Age"].fillna(df_train["Vehicle Age"].median())
df_test["Vehicle Age"] = df_test["Vehicle Age"].fillna(df_test["Vehicle Age"].median())

In [473]:
X_train = df_train.drop("Premium Amount", axis=1)
y_train = df_train["Premium Amount"]
X_test = df_test.copy()

In [474]:
from sklearn.linear_model import LinearRegression

In [475]:
model = LinearRegression()

In [476]:
df_train.isna().sum()

Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Insurance Duration      0
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [477]:
model.fit(X_train, y_train)

LinearRegression()

In [478]:
y_pred = model.predict(X_test)

In [479]:
submit = pd.read_csv("sample_submission.csv")

In [480]:
submit["Premium Amount"] = y_pred

In [481]:
submit.to_csv("finall_sub.csv",index = False, index_label = False)